<%- include('../partials/head', {siteTitle:"Carrito", cssRoute:"/cart/app.css"})  %> 



<body>
    <%- include('../partials/header')  %> 
    
    <main>

        <div class="main_container">

            <div class="title_cart">
                <h1>Carrito</h1>
    
            </div>
    
            <section class="container_section">

                <% if (cart.length === 0) { %>
                 <p>Parece que no tienes productos en tu carrito</p>
                <% } %>

                <% cart.forEach(element => { %>
                    <div class="container_item">
                        <div class="item">
        
                            <div class="container_img-producto">
                                <img class="img_producto" src=<%= element.img %> alt="">
                            </div>
                
                            <div class="container_datos">
            
                                <h2><%= element.title %> </h2>
                                <span><%= element.subtitle %> </span>
                
                                <h3><%= element.size  %> </h3>
                
                                <div class="details_product">
                                    <p>Precio <%= element.price  %> $ </p>  
            
                                    <div class="input_group">
                                        <input type="tel" multiple name="cantidad" list="cantidad" placeholder="1" required >
                                        <label for="cantidad">Cantidad</label>
                                       
                                        <datalist id="cantidad">
                                          <option value="1"></option>
                                          <option value="2"></option>
                                          <option value="3"></option>
                                        </datalist>
                                    </div>
            
                
                
                                </div>

                                <a href= <%= `/cart/delete-product/${element.id}`  %>   >
                                    <input class="button_eliminar" type="button" id="eliminarItem" value="Eliminar" >
                                </a>
                
                
                
                            </div>
                
                        </div>
        
                    </div>
                 
                <% }) %>


                <div class="resumen_desktop">

                    <h3>Resumen del pedido</h3>
                    
                    <div class="container_resumen">
                        
                        <div class="details_resumen">
                            <h4>Subtotal</h4> 
                            <h5>Envio</h5>
                            <h5>Productos</h5>
                            <h5>Total</h5>
                        </div>
    
                        <div class="details_resumen">
                
                            <h4><%= total%> $ </h4> 
                            <h5>-</h5>
                            <h5><%= cart.length  %> </h5>
                            <h5><%= total%> $ </h5>
                        </div>
                    </div>


                    <div class="buttons_checkout checkout_desktop">
    
                        <input class="volver" type="button" value="Volver a la tienda">
                        
                        
                        <input class="pagar" type="button" value="Pagar">
        
        
                    </div>
                </div>

               



    
                
            </section>

            <section class="resumen">

                <div class="total">
                    <h2>TOTAL = 30000$</h2>
                    
                </div>
    
    
                <div class="buttons_checkout">
    
                    <input class="volver" type="button" value="Volver a la tienda">
                    
                    
                    <input class="pagar" type="button" value="Pagar">
    
    
                </div>

            </section>
            
            

        </div>    






    </main>



    <%- include('../partials/footer')  %> 
</body>
</html>