<%- include('../partials/head', {siteTitle:`Detail Product ${product.id}`, cssRoute:"/detail/app.css"})  %> 


<body>

  <%- include('../partials/header')  %> 
  
  <main>
    <div class="main__container">


        <!-- <div class="overlay_not-user" id="overlayAlert">

          <div class="container_form">
            <i class="fa-solid fa-xmark" id="cerrarOverlay"></i>
            <div class="logo_login">
              <img src="/images/LOGO-BLANCO.png" alt="" />
            </div>
    
            <p class="text">Porfavor inicie session para continuar o registrese</p>
    
            <form class="form_login" method="post" action="/login/iniciar" >
    
              <div class="form_group">
                <input
                  required
                  type="email"
                  name="email"
                  id="email"
                  class="form_control"
                />
    
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="label_form-login">Email</label>
              </div>
    
              <div class="form_group">
                <input
                  required
                  type="password"
                  name="password"
                  class="form_control"
                  id="password"
                />
    
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="label_form-login" >Contraseña</label>
              </div>
    
              <div class="inputs_group">
                <input type="submit" value="Ingresar" id="btnSubmit" class="button_submmit" />
    
                <input
                  type="button"
                  value="Olvidaste tu contraseña"
                  class="button_reset-pass"
                />
              </div>
    
    
              <div class="registrate">
                <span>No tienes cuenta? <a href="#">Registrate</a></span>
              </div>
            </form>
    
          </div>
    
        </div> -->


  
          <div class="container__title info">
            <h2>
              <%= product.title  %>  <br />
              <%= product.subtitle %>
            </h2>
            <p>
             
              <%= product.descripcion_1 %> 
            </p>
          </div>
      
          <div class="container__block">
            <div class="col col1">
              <img
                class="col__img"
                src= <%=product.img_detail_1 %> 
                alt=""
              />
            </div>
      
            <div class="col col2">
              <img
                class="col__img"
                src= <%= product.img_detail_2 %> 
                alt=""
              />
            </div>
      
            <div class="col col3">
              <img
                class="col__img"
                src= <%= product.img_detail_3%> 
                alt=""
              />
            </div>
          </div>
      
          <div class="container__block">
            <div class="col col1">
              <img
                class="col__img"
                src= <%= product.img_detail_4 %> 
                alt=""
              />
            </div>
      
            <div class="col col2">
              <img
                class="col__img"
                src= <%= product.img_detail_5 %> 
                alt=""
              />
            </div>
      
            <div class="col col3">
              <p>
                <%= product.descripcion_2 %> 
              </p>
            </div>
      
          </div>
      
          <div class="container__full-width">
            <div class="img__full-width">
              <img src=<%=product.img_detail_6 %> alt="">
            </div>
          </div>
      
      
          <div class="container__details">

            <div class="details-left">

              <h4 class="title-product"> 
                <%=product.title %> <br> 
                "<%= product.subtitle  %>" 
              </h4>
        
              <div class="container__pricing">
        
                <span class="offer">
                  <span >$<%= product.price_offer%>,00 </span>
                </span>
                
              </div>
              
              <hr class="separador-price">

  
              <form class="form_comprar" action="/cart/buy" method="post">

                <!--COLORES SWATCHES-->
                <div class="product-color-swatches">

                  <div>
                    <p style="text-align:start;"> Eleji el color:</p>
                  </div>

                  <div class="btn-group">
                    
                    <% const colors = productVariants.map(e => e.color) %>
                    <% const colorsNoDuplicate = colors.filter((item, index) => colors.indexOf(item) === index); %> 

                    <% colorsNoDuplicate.forEach(element => { %>

                      <label class="product-swatch product-swatch-color" for="colorProduct<%=element%>" > 
                        
                     

                        <input  required class="input-color" value="<%=element%>" name="productColorId" id="colorProduct<%=element%>" autocomplete="off" type="radio" >

                        <span>
                          <%=element%> 
                          <span class="us-value">
                            <%=element%>
                          </span>
                        </span>
                        
                      </label>
                     
                    <% }) %>

                  </div>

                </div>
                

                <!--SIZES SWATCHES-->
                <div class="product-size-swatches">

                  <div>
                   <p style="text-align:start;"> Eleji el talle:</p>
                  </div>

                  <div class="btn-group">

                    <% productVariants.forEach(element => { %>
                      
                      <label class="product-swatch product-swatch-size" for="sizeProduct<%=element.size_us%>" data-tippy-content="Talle <%element.size_us%>us - equivale a <%=element.size_arg%>arg" > 


                        <% if (element.stock === 0) { %>

                          <input required class="input-size stock-out" disabled name="productSizeId" id="sizeProduct<%=element.size_us%>" autocomplete="off" type="radio" value=<%=element.size_id%>  >
                          
                        <% } else { %>

                          <input  required class="input-size" name="productSizeId" id="sizeProduct<%=element.size_us%>" autocomplete="off" type="radio" value=<%=element.size_id%>  >
                          
                        <% } %>



                        <span>
                          <%=element.size_arg%> 
                          <span class="us-value">
                            <%=element.size_us%>us
                          </span>
                        </span>
                        
    
                      </label>
                          
                    <% }) %> 
    
    

                  </div>
                  
                </div>
  
                
                <div class="container-quantity">

                  <span>Cantidad:</span> 
                  <select name="quantity" id="quantityProduct">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                    <option value="3">6</option>
                    <option value="3">7</option>
                  </select>  

                </div>
                
                
                <div class="container__buttons">
                  <input type="number" name="productModelId" hidden value=<%=product.id%> >
                  <input type="submit" value="Comprar" id="btnComprarProducto">
                  <a href="/home">
                    <input type="button" value="Volver atras">
                  </a>
                </div>
                
  
  
              </form>

            </div>


            <div class="algoACAAAAAA">


              
            </div>
      
          </div>  

    </div>
      
      
   
    <script src="/js/detail-product/choseSize.js"></script>
    <script src="/js/alertNotUser.js" ></script>
    <script src="/js/app.js"></script>
    
    
    <%- include('../partials/footer')  %> 


  </main>
</body>
