<%- include ('../partials/head', {siteTitle:"Admin Panel", cssRoute:"admin/app.css"}) %> 

  <body>

    <%- include ('../partials/adminPanel/dashboard') %> 
      
    <main>

      <%- include ('../partials/adminPanel/header') %> 


        
      <% if (page === 'home') { %>

        <%- include ('../partials/adminPanel/home') %> 
       
        
      <% } else if(page === 'products-panel'){ %>

        <%- include ('../partials/adminPanel/products-panel') %>   

      <% } %>




    </main>

    
<script src="/fetchAdmin.js"></script>


<script src="/js/anime.min.js"></script>
<script src="/fetchAdmin.js"></script>
<script src="/js/utils/convertNumber.js"></script>
<script src="/js/admin/fetch/fetchGetProductsModels.js"></script>
<script src="/js/admin/fetch/fetchInsertProduct.js"></script>
<script src="/js/admin/animations/acordeonAnimations.js"></script>
<script src="/js/admin/templates/templateListProductsModels.js"></script>
  </body>
  
</html>
